---
import "../../styles/fonts.css";
import "../../styles/reset.css";
import "../../styles/colors.css";
import "../../styles/scroll.css";
import "../../styles/scales.css";
import { ViewTransitions } from "astro:transitions";
import Header from "../../components/shared/Header/Header.astro";
import Footer from "../../components/shared/Footer/Footer.astro";
import { SEO } from "./seo";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio de edarcode" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO -->
    <meta name="description" content={SEO.description} />
    <meta name="author" content={SEO.author} />
    <meta
      name="keywords"
      content="portafolio, desarrollador web, edarcode, proyectos, programación, diseño web"
    />
    <meta name="language" content="es" />
    <meta name="robots" content="index, follow" />

    <!--OG Metatags -->
    <meta property="og:locale" content="es_ES" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={SEO.description} />
    <meta property="og:image" content={SEO.img} />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --mw-page: 1200px;
  }

  body {
    background-color: var(--bg-main);
    color: var(--paras);
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--titles);
  }

  h2 {
    padding: var(--md) 0;
  }
</style>
